@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower|Permanent+Marker');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

section {
	background: url("../images/surfing.jpg") no-repeat;
	height: 800px;
	color: black;
	padding: 0 20px 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}	

header h1 {
	font-size: 70px;
	text-align: center;
	font-family: 'Indie Flower', cursive;
	padding-top: 50px;
	margin-right: 400px; 
	margin-bottom: 118px;
	color: #2F2F2F;
}


section div, #zen-supporting, aside, h2 {
	font-family: 'Permanent Marker', cursive;
}

#zen-supporting h3 {
	font-family: 'Gloria Hallelujah', cursive;
	font-weight: bold;
}

a {
	color: #242424;
}

a:hover {
	color: #1E1E1E;
}

#zen-supporting {
	text-align: justify;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
}

.explanation, .participation, .benefits, .requirements {
	width: 25%;

}

.explanation, .participation, .benefits, .requirements p {
	width: 240px;
}

footer {
	display: flex;
	justify-content: space-around;

}

#zen-supporting, footer, aside {	
	/*margin: 0 20px;*/
}

aside {
	background-image: url("../images/road.jpg");
}

aside * {
	color: #A9A9A9;
	

}

aside a:hover {
	margin: 0;
	color: white;
}

aside h3 {
	font-size: 30px;
	font-style: underline;
}

#zen-supporting, footer, aside *{
	margin: 0 20px;

}

.sidebar {
	margin-left: -30px;
}

aside {
	margin-top: 20px;
}